
<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>What Do I Like?</h1></div>
    </div>
    <div class="row">
    <div class="col-md-6"><p><h1>Kittens!<br> <img src="https://c2.staticflickr.com/6/5480/12139930183_86af1b262e_b.jpg" alt="KITTEN" height="100" width="150"></h1> </p></div>
    <div class="col-md-6"></div>
    </div>
</div>