<h1>Sports</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6"><h1>Lacrosse!</h1><br><p>I enjoy playing Lacrosse. In lacrosse there are about 10 people on the field, 5 people are defending and 5 people are trying to score. There are two games, one is for varsity and junior varsity. 
        For varsity there are two halves that are split into two 25 minute sections with a 10 minute break in between. On the other hand for Junior varsity there are two halves that are each 20 minutes long with a 10 minute break in between.</p></div>
        <div class="col-md-6"><h1>Tennis!</h1><br><p>I enjoy playin Tennis. In tennis there are two teams, varsity and junior varsity. There are 8 rounds and if we get 7-7 then we go into a tie breaker.</p></div>
    </div>
    <div class="row">
        <div class="col-md-6"><h1><img class="three" class="img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/1/1f/2005_NCAA_Women's_Lacrosse_Championship_-_Virginia_Cavaliers_vs_Northwestern_Wildcats.jpg" alt="Lacrosse" width="250" height="250"><%= image_tag "three.jpg", size: "250" %></h1></div>
        <div class="col-md-6"><h1><img class="three" class="img-rounded" src="http://i.ytimg.com/vi/ZEGY57SG_Bw/hqdefault.jpg" width="250" height="250"><img src="https://scontent.ford4-1.fna.fbcdn.net/hphotos-xpt1/t31.0-8/12186419_1643407315873042_5053202336403192070_o.jpg" width="250" height="250" alt="tennis"></h1></div>
    </div>
 <div class="container">
 <div class="row">
  <div class="col-md-6">
  <span class="label label-default"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
  <span class="label label-primary"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
  <span class="label label-success"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
  <span class="label label-info"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
  <span class="label label-warning"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
  <span class="label label-danger"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
   <span class="label label-warning"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
  <span class="label label-danger"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WTyO8UWd_v9oetu5CFYERHy1SL13bdrOgs5nujQEBIXatWyjrw" alt="Stick" height="20" width="50"></span>
</div>
    <div class="col-md-6">
    <span class="label label-default"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span>
    <span class="label label-primary"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span> 
    <span class="label label-success"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span> 
    <span class="label label-info"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span>    
    <span class="label label-warning"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span>
    <span class="label label-danger"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span>
    <span class="label label-default"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span>
    <span class="label label-primary"><img src="http://www.clipartlord.com/wp-content/uploads/2013/03/tennis-racquet.png" alt="Stick" height="20" width="50"></span> 
    
</div>
</div>
</div>